profiles {

  local {
    process.executor = 'local'
    docker.enabled = false
  }

  docker {
    process.executor = 'local'
    docker.enabled = true
    process.container = 'ubuntu:22.04'
    env.PATH = '/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin'
  }
}

timeline { enabled = true; file = "${launchDir}/results/timeline.html" }
report   { enabled = true; file = "${launchDir}/results/report.html" }
trace    { enabled = true; file = "${launchDir}/results/trace.txt" }
dag      { enabled = true; file = "${launchDir}/results/flowchart.png" }
